* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #4b4544;
}

/* HEADER START */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ca8e70;
    color: #f6f6f5;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    flex: 1;
}

.header h1 {
    color: #f6f6f5;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 

/* .header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    flex: 1;
}
*/

.header div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #f6f6f5 !important;

}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: #f6f6f5 !important;


}

/* HEADER END */

.flex-container {
    flex-shrink: inherit;

}

/*link color */

a:link {

    color: #4b4544;
    text-decoration: none;
}

a:hover {
    color: #9ea09d;
    text-decoration: none;
}

a:visited {
    color:#4b4544;
    text-decoration: none;
}

/*link color end */

p {
    font-size: 16px;
}

/* HERO START */

.hero {

    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* HERO END */


.float-left {
    float: left;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}
/*
.float-right {
    float: right;
    margin-left: 25px;
}

/* ABOUT ME START */

.content {
    width: 100%;

    margin-left: 20px;
    margin-right: 50px;
    padding-right: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
    

    
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f6f6f5;
    color: #9f816d;
    border-radius: 25px; 
    flex: content;
    display: inline-block;  
    width: auto;
    
}

.projects {
    margin-bottom: 20px;
    padding: 0px;
    height:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9f816d;
    border-radius: 25px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    width:auto;

}

  /* zoom animation for hover over image */

  .zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 300x;
    height: 300px;
    margin: 0 auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .zoom:hover {
    transform: scale(1.2);
  }

  /* Zoom animation end */

.about-me img {
    max-height: 200px;
}

.about-me h2, .projects h2 {
    margin-bottom: px;
    font-size: 36px;
    color: #9ea09d
}

.projects h3 {
    margin-bottom: 20px;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.projects article a img {
    
    max-height: 300px;
}
.projectArticle {
    margin: 20px;
    background-color: #f6f6f5;
    color: var(--primary-color);
    border-radius:25px;
    flex: 11;
    overflow: auto;

}

/* ABOUT ME END */


/* CONTACT START */

/*
.contact {
    margin-top: 23px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: fit-content;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9f816d;
    border-radius: 25px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

.contact-me {
    margin-bottom: 32px;
    color: #f6f6f5;
}

.contact-me h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* CONTACT SECTION END*/

/* FLEX CONTENT */

.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* DISPLAY */
.display-none {
    display: none;
  }
  
.display-block {
    display: block;
  }
  
.display-inline-block {
    display: inline-block;
  }
  
.display-inline {
    display: inline;
  }





