* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #4b4544;
}

/* HEADER START */

.header {
    width: 100%;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ca8e70;
    color: #f6f6f5;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9999;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    flex: 1;
}

.header h1 {
    color: #f6f6f5;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 

.header div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #f6f6f5 !important;

}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: #f6f6f5 !important;


}

/* HEADER END */

.flex-container {
    flex-shrink: inherit;

}

/*link color */

a:link {

    color: #4b4544;
    text-decoration: none;
}

a:hover {
    color: #9ea09d;
    text-decoration: none;
}

a:visited {
    color:#4b4544;
    text-decoration: none;
}

/*link color end */

p {
    font-size: 16px;
}

h4 {
    font-weight: bold;
    color:#4b4544;

}

/* HERO START */

.hero {

    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* HERO END */


.float-left {
    float: left;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}
/*
.float-right {
    float: right;
    margin-left: 25px;
}

/* ABOUT ME START */

.content {
    width: 100%;
    padding: 35px;
    margin-left: 25px;
    margin-right: 25px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
    

    
}

.about-me {
    margin-bottom: 20px;
    padding: 60px;
    height:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f6f6f5;
    color: #9f816d;
    border-radius: 25px; 
    flex: content;
    display: inline-block;  
    width: auto;
    
}

.about-me img {
    max-height: 200px;
}

.about-me h2 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #9ea09d
}
/* ABOUT ME END */


.projects {
    margin-bottom: 20px;
    height:fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9f816d;
    border-radius: 25px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    width: 60%;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    

}


  /* zoom animation for hover over image */

  .zoom {
    padding: 25px;
    transition: transform .2s; /* Animation */
    width: 300x;
    height: 250px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .zoom:hover {
    transform: scale(1.2);
  }

  /* Zoom animation end */



.projects h2 {
    margin-bottom: px;
    font-size: 36px;
    color: #9ea09d
}

.projects h3 {
    font-size: 23px;
    margin-top: 0; 
    text-align: left;
}


.projectArticle {
    width: 100%;
    padding: 35px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #f6f6f5;
    color: var(--primary-color);
    border-radius:25px;
    flex: 11;
    overflow: auto;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;


}






/* FLEX CONTENT */

.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }



  /* DISPLAY */
.display-none {
    display: none;
  }
  
.display-block {
    display: block;
  }
  
.display-inline-block {
    display: inline-block;
  }
  
.display-inline {
    display: inline;
  }





  /* MEDIA QUERIES */


  @media screen and (max-width: 980px) {

    section {
        padding: 30px 15px;
    }
    header, .content, .projects {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    .about-me h2, .about-me p {
        text-align:  center;
    }
    .float-left {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .zoom {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .projects p, .projects h4 {
        text-align: center;
        font-size: large;
    }
    .projects h3 {
        text-align: center;
        font-size:x-large;
    }
  }